.downloader {
  background: #1F232C;
  margin-top: 300px;
  transition: margin-top 0.2s;

  @extend .z-depth-1;

  .url-form {
    padding: 20px 0;
    position: relative;

    .input-floater-left, .input-floater-right {
      color: #CCC;
      font-size: 30px;
      position: absolute;
      top: 0;

      .fa { vertical-align: top; }
      .loading-spinner { font-size: 0.9em; }
    }

    .input-floater-left {
      left: 20px;
    }

    .input-floater-right {
      right: 20px;
      text-align: center;
      width: 40px;

      a { display: block; margin-top: -2px; }
      .fa { cursor: pointer; }
    }

    input {
      padding-left: 50px;
      padding-right: 50px;
    }
  }

  &.loading .input-floater-right { display: none; }

  // &.loaded {
  //   margin-top: 0;
  // }
}
