$height: 500px;
$bgHeight: 190px;

.downloadinfo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.55);
  overflow: hidden;

  .info {
    position: relative;
    margin: 200px auto 0;
    width: 1000px;
    height: $height;
    border-radius: 5px;
    
    @extend .z-depth-3;

    .background-container {
      z-index: 0;
      border-radius: 5px;
      overflow: hidden;

      .noise {
        height: $bgHeight;
        z-index: 2;
        background: url('../images/noise.png')
      }

      .background {
        height: $bgHeight;
      }

      .background-split {
        background: #2A323D;
        position: absolute;
        width: 100%;
        bottom: 0px;
        top: $bgHeight;
      }
    }

    .thumbnail, .title, .duration, .source, .options, .buttons, .status, .url {
      position: absolute;
    }

    .thumbnail {
      top: 90px;
      left: 20px;
      border-radius: 30px;
      padding: 0;
      width: 350px;
      height: 225px;
      overflow: hidden;
      background-color: rgba(0, 0, 0, 0.75);
      border: 3px solid #1086B4;
      text-align: center;

      .image {
        max-width: 350px; // 4:3
        height: 225px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
      }
    }

    .title {
      top: 30px;
      left: 20px;
      right: 20px;

      h2 {
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        a, a:hover, a:focus, a:active {
          color: #ddd;
          text-shadow: #000 1px 1px 10px;
          cursor: pointer;

          &:hover {
            color: #fff;
          }
        }
      }
    }

    .duration, .source {
      color: #ccc;
      left: 390px;
    }

    .source {
      top: 100px;
      font-size: 1.5em;
    }

    .duration {
      top: 145px;
    }
    
    .options {
      top: 230px;
      left: 390px;
      right: 20px;

      .Select {
        width: 45%;
        display: inline-block;

        &:first-child {
          margin-right: 55px;
        }
      }
    }

    .status {
      top: 340px;
      left: 20px;
      right: 20px;

      .progresslabel {
        position: absolute;
        top: 2px;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
      }
    }

    .url {
      top: 340px;
      left: 20px;
      right: 20px;
    }

    .buttons {
      top: 450px;
      left: 20px;
      right: 20px;
      text-align: right;
    }

    .downloadbtn {
      padding-bottom: 15px;

      .btn { width: 100%; }
    }
  }
}

.downloadinfo-enter {
  background: rgba(0,0,0,0.0);
  .info { transform: translateY(2000px); }
}

.downloadinfo-enter.downloadinfo-enter-active {
  background: rgba(0,0,0,0.55);
  .info { transform: translateY(0px); }
}

.downloadinfo-enter.downloadinfo-enter-active, .downloadinfo-leave.downloadinfo-leave-active {
  transition: background-color 0.2s 0.4s;
  .info { transition: transform 0.5s 0.4s; }
}

.downloadinfo-leave {
  background: rgba(0,0,0,0.55);
  .info { transform: translateY(0px); }
}

.downloadinfo-leave.downloadinfo-leave-active {
  background: rgba(0,0,0,0.0);
  .info { transform: translateY(2000px); }
}
