$transition: 0.5s;
$finishTransition: 3s;

.downloadlist {
  margin: 107px 64px 40px;
  display: flex;
  flex-wrap: wrap;

  .download {
    width: calc((100%/6) - 24px);
    margin: 0 12px 24px;
    transition: box-shadow 0.2s;
    // cursor: pointer;
    position: relative;
    flex-direction: column;
    overflow: hidden;

    &:hover {
      // box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    }

    .cover-wrapper {
      position: relative;
      width: 100%;
      padding-top: 56%;

      .cover {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: #000;
        display: flex;
        align-items: center;
        justify-content: center;

        .state {
          position: absolute;
          left: 16px;
          bottom: 8px;
          color: #fff;
          z-index: 3;
        }

        .thumbnail {
          position: absolute;
          top: 0;
          left: 0;
          background-size: cover;
          background-position-x: 50%;
          background-position-y: 50%;
          background-repeat: no-repeat;
          width: 100%;
          height: 100%;
          z-index: 1;
        }

        &.overlay .thumbnail { opacity: 0.4; }

        .progress {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          background: #1d7eca;
          opacity: 0.5;
          z-index: 2;
          transition: width 0.3s;
        }

        .status {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          color: #fff;
          font-weight: 500;
          font-size: 2em;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 3;

          svg { transform: scale(2); }
          .checkicon { visibility: collapse; }
        }

        &.cover.finishing {
          .thumbnail { animation: $finishTransition 1 forwards finish-thumbnail; }
          .progress { animation: $finishTransition 1 forwards finish-progress; }
          .percent { animation: $finishTransition 1 forwards finish-percent;  }
          .checkicon { animation: $finishTransition 1 forwards finish-check; }
        }
      }
    }

    .content {
      display: flex;
      padding: 16px;

      .text {
        flex: 1;
        min-width: 0;

        .title {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding-top: 8px;
          -webkit-font-smoothing: antialiased;
        }

        .subtitle {
          font-size: 0.875rem;
          line-height: 1.25rem;
          margin: -.063rem 0;
          -webkit-font-smoothing: antialiased;
        }

        .audio {
          color: #333;
        }
      }
    }

    .controls {
      padding: 8px 4px;
      height: auto;
    }

    .deleteprogress {
      display: none;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }

    &.deleting {
      .cover-wrapper { opacity: 0.5; }
      .content { opacity: 0.5; }
      .controls button { visibility: collapse; }
      .deleteprogress { display: block; }

      &:hover { box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12); }
    }

    &.downloaditem-enter {
      visibility: visible;
    }
  
    &.downloaditem-enter.downloaditem-enter-active {
      visibility: hidden;
    }

    &.downloaditem-exit {
      opacity: 1;
    }
  
    &.downloaditem-exit.downloaditem-exit-active {
      .deleteprogress { display: none; }

      opacity: 0;
      width: 0px;
      margin-left: 0;
      margin-right: 0;
      transition: max-height $transition, width $transition, opacity ($transition / 3), margin ($transition / 2);
    }
  }
}

@keyframes finish-progress {
  0%, 90% { opacity: 0.5; }
  100% { opacity: 0; }
}

@keyframes finish-thumbnail {
  0%, 90% { opacity: 0.4; }
  100% { opacity: 1; }
}

@keyframes finish-percent {
  0%, 50% { opacity: 1; }
  60%, 100% { opacity: 0; }
}

@keyframes finish-check {
  0% { visibility: collapse; transform: scale(0.2); }
  50% { visibility: visible; transform: scale(0.2); }
  65% { transform: scale(3); }
  90% { opacity: 1; }
  100% { opacity: 0; transform: scale(3); }
}

@media (max-width: 1920px) {
  .downloadlist {
    .download { width: calc((100%/5) - 24px); max-height: 360px; }
  }
}

@media (max-width: 1366px) {
  .downloadlist {
    margin: 91px 40px 40px;
    
    .download { width: calc((100%/4) - 24px); }
  }
}

@media (max-width: 1024px) {
  .downloadlist {
    .download { width: calc((100%/3) - 24px); }
  }
}

@media (max-width: 768px) {
  .downloadlist {
    .download { width: calc((100%/2) - 24px); }
  }
}

@media (max-width: 420px) {
  .downloadlist {
    margin: 83px 12px 40px;

    .download {
      margin: 0 0 24px;
      width: 100%;

      &.downloaditem-exit.downloaditem-exit-active {
        opacity: 0;
        width: 100%;
        max-height: 0;
        margin-bottom: 0;
      }
    }
  }
}
