$transition: 0.5s;

#preview {
  .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: rgba(0,0,0,0.2);
  }

  .dialog {
    width: 600px;
    height: 440px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -220px;
    margin-left: -300px;
    z-index: 100;
    overflow: hidden;

    .contents {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    .cover {
      height: 240px;
      width: 100%;
      background: #000;

      .thumbnail {
        background-size: cover;
        background-position-x: 50%;
        background-position-y: 50%;
        width: 100%;
        height: 100%;
        opacity: 0.5;
      }
    }

    .title {
      position: absolute;
      color: #fff;
      left: 20px;
      right: 20px;
      top: 185px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .subtitle {
      position: absolute;
      color: #ccc;
      left: 20px;
      top: 210px;
    }

    .options {
      flex: 1;

      label {
        padding: 0 20px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        border-bottom: 1px solid #F6F6F6;

        .label {
          flex: 1;
          cursor: pointer;
        }

        .emailinput {
          flex: 1;
          flex-basis: 100%;
          margin-bottom: 10px;
        }
      }
    }

    .controls {
      // border-top: 1px solid #F6F6F6;
      text-align: right;
      padding: 10px;

      button {
        margin-left: 10px;
      }
    }

    .addingprogress {
      display: none;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  &.adding {
    .options { opacity: 0.5; }
    .controls button { visibility: collapse; }
    .addingprogress { display: block; }
  }

  &.previewitem-enter {
    .backdrop { opacity: 0; }

    .dialog {
      top: 0;
      width: 800px;
      height: 50px;
      margin-top: 7px;
      margin-left: -400px;

      .contents { opacity: 0; }
    }
  }

  &.previewitem-enter.previewitem-enter-active {
    .backdrop {
      opacity: 1;
      transition: opacity $transition;
    }

    .dialog {
      top: 50%;
      width: 600px;
      height: 440px;
      margin-top: -220px;
      margin-left: -300px;
      transition: top $transition, height $transition, width $transition, margin-top $transition, margin-left $transition;

      .contents {
        opacity: 1;
        transition: opacity 0.2s ease-in ($transition - 0.2);
      }
    }
  }

  &.previewitem-exit {
    .backdrop { opacity: 1; }

    .dialog {
      top: 50%;
      width: 600px;
      height: 440px;
      margin-top: -220px;
      margin-left: -300px;
    }

    .contents { opacity: 1; }
  }

  &.previewitem-exit.previewitem-exit-active {
    .backdrop {
      opacity: 0;
      transition: opacity $transition;
    }

    .dialog {
      top: 0;
      width: 800px;
      height: 50px;
      margin-top: 7px;
      margin-left: -400px;
      transition: top $transition, height $transition, width $transition, margin-top $transition, margin-left $transition;

      .contents {
        opacity: 0;
        transition: opacity 0.2s;
      }
    }
  }

  &.addeditem-exit {
    .backdrop { opacity: 1; }

    .dialog {
      top: 50%;
      left: 50%;
      width: 600px;
      height: 440px;
      margin-top: -220px;
      margin-left: -300px;
    }

    .contents { opacity: 1; }
  }

  &.addeditem-exit.addeditem-exit-active {
    .backdrop {
      opacity: 0;
      transition: opacity $transition;
    }

    .dialog {
      top: 107px;
      left: 76px;
      width: calc((100%/5) - 24px);
      height: 325px;
      margin-top: 0;
      margin-left: 0;
      transition: top $transition, left $transition, height $transition, width $transition, margin-top $transition, margin-left $transition;

      .contents {
        opacity: 0;
        transition: opacity 0.2s;
      }
    }
  }
}

@media (max-width: 1366px) {
  #preview.addeditem-exit.addeditem-exit-active .dialog {
    top: 91px;
    left: 40px;
    right: 40px;
    width: calc((100%/4) - 24px);
    height: 325px;
  }
}

@media (max-width: 1024px) {
  #preview.addeditem-exit.addeditem-exit-active .dialog {
    width: calc((100%/3) - 24px);
  }
}

@media (max-width: 768px) {
  #preview.addeditem-exit.addeditem-exit-active .dialog {
    width: calc((100%/2) - 24px);
  }
}

@media (max-width: 420px) {
  #preview.addeditem-exit.addeditem-exit-active .dialog {
    top: 83px;
    left: 12px;
    right: 12px;
    width: calc(100% - 24px);
    height: 360px;
  }
}

@media (max-width: 810px) {
  #preview {
    &.previewitem-enter {
      .dialog {
        width: calc(100% - 63px);
        margin-left: calc(-50% + 58px);
      }
    }
  
    &.previewitem-exit.previewitem-exit-active {
      .dialog {
        width: calc(100% - 63px);
        margin-left: calc(-50% + 58px);
      }
    }
  }
}

@media (max-width: 600px) {
  #preview {
    .backdrop { display: none; }

    .dialog {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: auto;
      height: auto;
      margin-left: 0;
      margin-top: 0;
    }

    &.previewitem-enter {
      .dialog {
        width: calc(100% - 63px);
        margin-top: 7px;
        margin-left: 58px;
      }
    }

    &.previewitem-enter.previewitem-enter-active {
      .dialog {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin-left: 0;
        margin-top: 0;
      }
    }

    &.previewitem-exit, &.addeditem-exit {
      .dialog {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin-left: 0;
        margin-top: 0;
      }
    }
  
    &.previewitem-exit.previewitem-exit-active {
      .dialog {
        width: calc(100% - 63px);
        margin-top: 7px;
        margin-left: 58px;
      }
    }
  }
}
