@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500";
// @import "font-awesome";

$green: #58C06D;

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background: #EEE;
  // color: #eee;
  margin: 0;
}

// pre { padding: 0; white-space: pre-wrap; height: 100%; width: 100%; }

a {
  color: inherit;
  cursor: pointer;

  &, &:hover, &:active, &:focus {
    text-decoration: none;
  }

  &[disabled] {
    &, &:hover, &:active, &:focus {
      opacity: 0.8;
      cursor: initial;
      text-decoration: none;
    }
  }
}

fieldset { border: none; margin: 0; padding: 0; }

@keyframes autofill {
  to {
    color: #000;
    background: transparent;
  }
}

@keyframes autofill-disabled {
  to {
    color: currentColor;
    background: transparent;
  }
}

input:-webkit-autofill {
  animation-name: autofill;
  animation-fill-mode: both;

  &:disabled { animation-name: autofill-disabled; }
}

.center {
  text-align: center;
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  // background-color: #3D4B5D;
  background-color: #FBFBFB;

  .noise {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: image-url('noise.png');
  }

  .background {
    background-image: image-url('logo@2x.png');
    background-position: center center;
    background-position-x: 50%;
    background-position-y: 80%;
    background-repeat: no-repeat;
    background-size: initial;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.1;
  }
}

.static-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;

  .header {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #444;

    h1 {
      display: inline-flex;
      flex: 1;

      img {
        width: 40px;
        height: 40px;
        margin-right: 10px;
      }
    }
  }

  h2 {
    text-align: center;
  }

  p { margin: 20px; }

  a {
    color: #0277BD;

    &:hover { border-bottom: 1px solid #0277BD; }
  }
}

.extractors {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;

  .extractor {
    flex-basis: 25%;
    font-size: 1.1em;
    padding: 5px 0;
  }
}


@media (max-width: 768px) {
  .extractors {
    .extractor { flex-basis: 50%; }
  }
}
