@import "https://fonts.googleapis.com/css?family=Roboto:400,500,700";
@import "font-awesome";
@import "bootstrap-include";

$green: #58C06D;

body {
  font-family: 'Roboto', sans-serif;
  background: #3D4B5D;
  color: #eee;
}

pre { font-family: 'Roboto', sans-serif; padding: 0; }

.modal { color: rgba(0,0,0,0.8); }

.form-control {
  background: none;
  border: none;
  color: #CCC;
  box-shadow: none;
  border-bottom: 2px solid #BBB;
  border-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  transition: border 0.2s;

  &:focus {
    color: #FFF;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    box-shadow: none;
  }

  &[disabled] {
    opacity: 0.3;
    background: transparent;
  }
}

a {
  // color: $green;

  &:hover, &:active, &:focus {
    // color: darken($green, 10%);
    text-decoration: none;
  }
}

@keyframes autofill {
  to {
    color: #FFF;
    background: transparent;
  }
}

input:-webkit-autofill {
  animation-name: autofill;
  animation-fill-mode: both;
}
