@import "https://fonts.googleapis.com/css?family=Roboto";
@import "font-awesome";
@import "bootstrap-include";

$green: #58C06D;

body {
  font-family: 'Roboto', sans-serif;
  background: #58636b;
  color: #eee;
}

pre { font-family: 'Roboto', sans-serif; padding: 0; }

.modal { color: rgba(0,0,0,0.8); }

.form-control {
  background: none;
  border: none;
  color: #CCC;
  border-bottom: 2px solid #BBB;
  border-radius: none;
  transition: border 0.2s;

  &:focus {
    color: #FFF;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    box-shadow: none;
  }
}

a {
  color: $green;

  &:hover, &:active, &:focus { color: darken($green, 10%); text-decoration: none; }
}
