@import "https://fonts.googleapis.com/icon?family=Material+Icons";

@import "materialize/components/color";
$primary-color: color("blue", "base") !default;
$secondary-color: color("grey", "lighten-4") !default;
$input-border-color: color("grey", "lighten-2") !default;
// $button-disabled-background: color("grey", "lighten-2") !default;
@import "materialize";

body {
  background: #58636b;
}
